.bg-bgcolor{
    background-color: rgb(21, 22, 22);
}

.NavFont {
    font-size: large;
}

.logoButt{
    background-color: transparent;
    border: none;
    color: whitesmoke;
    
}

.Navsquare {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
